<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>Detalles del viaje del chofer</h3></li>
    </ul>
    <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/drivertrips">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
</div>

<div class=" text-center">
<table align="center" width="50%">
    <tr class="r">
        <td class="colt" colspan="2">
            <p>Chofer</p>
        </td>
        <td class="percq colt">
            <p>Costo</p>
        </td>
        <td class="percq colt">
            <p>Detalles del viaje</p>
        </td>
        <td class="percq colt">
            <p>Vehículo</p>
        </td>
    </tr>
    <tr class="col">
        <td class="colt" colspan="2">
            <p>{{driver}}</p>
        </td>
        <td class="percq colt">
            <p>{{drivertrip.tripExpenses | currency}}</p>
        </td>
        <td class="percq colt">
            <p><a ng-href="#!/trip/detail/{{drivertrip.trip}}">Viaje</a></p>
        </td>
        <td class="percq colt">
            <p><a ng-href="#!/vehicle/detail/{{drivertrip.vehicle}}">Vehículo</a></p>
        </td>
    </tr>
</table>
</div>